
<div class="fixed w-full h-full top-0 bg-blackloader inset-0 z-50 backdrop-blur-sm">
 <div class="absolute top-1/2 left-1/2 -mt-[200px] -ml-[200px]">
  <div class="absolute w-[220px] h-[220px] top-[90px] left-[90px]">
    <div class="absolute z-[3] w-[30px] h-[30px] top-[95px] left-[95px] bg-white rounded-full animate-jump-1"></div>
    <div class="absolute z-[2] w-[60px] h-[60px] top-[80px] left-[80px] bg-accent rounded-full animate-jump-2"></div>
    <div class="absolute z-[1] w-[90px] h-[90px] top-[65px] left-[65px] bg-primary rounded-full animate-jump-3"></div>
  </div>
</div>
</div>
